<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WarstwaUslug.Properties.Settings.BazaKlientowConnectionString"
            connectionString="Data Source=DESKTOP-N72L5PJ;Initial Catalog=BazaKlientow;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>